body {
  margin: 0;
  padding: 0;
  background-color: #131313;
}

nav {
  margin: 0;
  padding: 2.5px;
}

.Navbar_color {
  background-color: black;
}

nav.Navbar_color ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.Navbar_color ul li {
  margin: 0;
  padding: 0;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.searchbar input[type="search"] {
  width: 50%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.logo {
  width: 45px;
  height: 35px;
}


form.createaccount{
  color: white;
  display: flex;
  justify-content: center;
 flex-direction: column;
 align-items: center;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-top:20px ;
}

input.create_account_input{
 background-color: black;
 color:white;
 padding: 12px;
 width: 20%;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin-top: 20px;
}

h1.account{
font-size: 31px;
}

input.submit_account{
  background-color: black;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  border-radius: 50px;
  margin-top: 20px;
  width:20% ;
  padding: 12px;
}

input.submit_account:hover{
  cursor: pointer;
}
 /* 
.container {
  margin-top: 70px;
  margin-left: 600px;
  align-items: center;
  height: 560px;
  width: 353px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Kanit', sans-serif;
}

input[type=text], input[type=password] {
  border-radius: 3px;
  border-style: none;
  font-family: 'Kanit', sans-serif;
  margin-top: 15px;
  width: 350px;
  height: 45px;

}
button[type=submit] {
  font-size: 17px;
  font-family:'Kanit', sans-serif;
  border-style: none;
  color: white;
  border-radius: 3px;
  background-color: #BB271A;
  align-content: center;
  width: 354px;
  height: 45px;
  margin-top: 15px;
  cursor: pointer;
}
*/


