body {
  margin: 0px;
  padding: 0px;
}

.Navbar_color {
  background-color: black;
}

nav.Navbar_color ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.Navbar_color ul li {
  margin: 0;
  padding: 0;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.searchbar input[type="search"] {
  width: 50%;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}
